.carousel {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: -30px;
  margin-bottom: -50px;
  position: relative;
  z-index: 1;
}

.carousel__items {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 40px;
  grid-template-rows: 1fr;
  align-items: center;
  overflow: hidden;
  padding-top: 70px;
  padding-bottom: 70px;
}

.carousel__item {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/ -1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/-1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  transition: transform 1s ease;
}

.carousel__item--hidden-right {
  transform: translateX(100%);
}

.carousel__item--hidden-left {
  transform: translateX(-100%);
}

.carousel__item--skipped {
  opacity: 0;
}

.carousel__controls {
  -ms-grid-row: 2;
  -ms-grid-span: 1;
  -ms-grid-row-align: center;
  -ms-grid-column-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
}

.carousel__control-container {
  width: 30px;
  height: 30px;
  margin: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel__control {
  width: 15px;
  height: 15px;
  background: black;
  border: 1px solid white;
  border-radius: 50%;
  transition: background 300ms ease;
}

.carousel__control--active {
  background: white;
}

@media screen and (max-width: 525px) {
  .carousel {
    margin-top: -60px;
  }
}