@font-face {
  font-family: 'Julius Sans One';
  src: url('https://s3.us-east-2.amazonaws.com/kals-portfolio-assets/fonts/JuliusSansOne-Regular.ttf') format('truetype');
}

:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}