@font-face {
  font-family: 'Julius Sans One';
  src: url('https://s3.us-east-2.amazonaws.com/kals-portfolio-assets/fonts/JuliusSansOne-Regular.ttf') format('truetype');
}

:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
	font-family: 'Julius Sans One';
  background: black;
}

.k-tag {
  position: absolute;
	font-family: 'Julius Sans One';
	color: white;
  bottom: 0;
  left: 0;
  margin: 10px;
  display: flex;
  align-items: center;
}