.instructions {
	font-size: 2em;
	text-transform: uppercase;
	text-align: center;
	margin-top: 0;
}

@media screen and (max-width: 540px) {
  .ffminiwiki {
    display: flex;
    flex-flow: column;
  }

  .instructions {
    order: -1;
    font-size: 1.25rem;
    margin-top: 22px;
    margin-bottom: 0;
  }
}